<div class="row">
  <div class="well well-lg" style="background: #644a8c; margin-top: 20px; color: white; text-shadow: 2px 2px 2px black;">
    <h1 class="text-center">Fuzzy Hash checker</h1>
    <h3>Instructions:</h3>
    <p>This tool runs a fuzzy hash against the submitted files. Enter a file in both boxes and submit.  The calculated percentage of similarity between the files is displayed below.
    This tool utilizes ssdeep to calculate similarity.</p>
  </div>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="file1">File 1:</label>
      <input type="file" name="file1" id="file1">
      <br>
      <label for="file2">File 2:</label>
      <input type="file" name="file2" id="file2">
    </div>
    <p>
      <input name="commit" type="submit" class="btn btn-primary btn-lg btn-block" style="background: #644a8c; color: white; text-shadow: 2px 2px 2px black;" value="Upload" />
    </p>
  </form>
  <% @result ? result = @result.to_s + '% similar' : result = '' %>
  <h2>Fuzzy Hash Result: <%= result %></h2>
</div>
